---
import cv from "@cv";
import { Image } from "astro:assets";
import ThemeToggle from "./ThemeToggle";

const {
  nav: { home, about },
} = cv;
---

<header
  class="w-full pt-10 pb-24 sm:pb-36 px-4 flex justify-between items-center text-cyan dark:text-white"
>
  <span
    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 flex items-center gap-2"
  >
    <a href="/">{home}</a>
  </span>
  <a href="/about">{about}</a>
  <ThemeToggle client:only="react" />
</header>
